.dropdown
  .dropdown__header
    button.dropdown__title Сколько гостей
  .dropdown__menu
    .dropdown__wrapper
      ul.dropdown__list
        li.dropdown__item
          span.dropdown__item-title Взрослые
          .dropdown__counter
            button.dropdown__counter-btn.dropdown__counter-btn_disabled.dropdown__counter-minus
            span.dropdown__counter-value 0
            button.dropdown__counter-btn.dropdown__counter-plus
        li.dropdown__item
          span.dropdown__item-title Дети
          .dropdown__counter
            button.dropdown__counter-btn.dropdown__counter-btn_disabled.dropdown__counter-minus
            span.dropdown__counter-value 0
            button.dropdown__counter-btn.dropdown__counter-plus
        li.dropdown__item
          span.dropdown__item-title Младенцы
          .dropdown__counter
            button.dropdown__counter-btn.dropdown__counter-minus
            span.dropdown__counter-value 22
            button.dropdown__counter-btn.dropdown__counter-plus
      .dropdown__widgets
        button.dropdown__btn Очистить
        button.dropdown__btn Применить